In [41]:
import numpy as np
# a=np.array([1,2,3,4,5,6])

In [42]:
# print(a)

In [43]:
# print(type(a))

# # if we want to create 2d numpy array

# c = np.array([[1,2,3],[2,3,4]])
# print(c)

In [44]:
# print(type(c))

In [45]:
# if we want to create the numpy array of different datatype

# c = np.array([1,2,4,5],dtype=float)
# print(c)
# d = np.array([1,2,3,4,5],dtype=complex)
# print(d)

In [46]:
#  c = np.arange(1,11)
#  print(c)
#  d = np.arange(1,20,2)
#  print(d)
# second way to create nd array using np.arange()  funtion

In [47]:
#  a = np.arange(0,30)
#  print(a)
#  a.reshape(5,6)  arrayname.reshape(r,c) r= row ,c = column

In [48]:
#  a = np.ones((4,5))
#  print(a)
#  print()
#  b = np.zeros((4,5))
#  print(b)

#  print()

#  c = np.random.random((4,5))
#  print(c)
#

In [49]:
# np.linspace(-10,10,10)
# np.linspace create a array evenly first parameter take the lower range second parameter 10 and number of element is also 10

In [50]:
#  we can also create a identity matrix of nxn with the help of np.identiy() function
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [51]:
# attributes of numpy array
# ndim  tells the dimension of the array
# reshape  reshape the existing array for 3d (x,y,z) x tells us how  many 2d array and y,z are the dimensions of 2d array
# size  tells the size of the array
# dtype  tell the datatype of the object
# itemsize tells the item size of the array elements

a = np.arange(1,11)
print(a.ndim)
print(a)
print()
b = np.arange(0,40)
b.reshape(2,2,10)
print(b)
b.size
b.dtype

1
[ 1  2  3  4  5  6  7  8  9 10]

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39]

dtype('int64')

In [52]:
# changing the datatype of nd array
# astype function for this...
# let a3 is the np array
# a3.astype(np.int32)  now it is converted to 32 bit integer

In [53]:
# array operations
#  axis 1 = for row and zero for column

a = np.arange(1,9)
print(a)
print(a*9)
print(a>8)
# all these operation are valid in np array

[1 2 3 4 5 6 7 8]
[ 9 18 27 36 45 54 63 72]
[False False False False False False False False]

In [54]:
a = np.random.random((3,3))
print(a)
print()
a = a*100
print(a)
print()
np.round(a*100)
print(a)

print(np.min(a))
print(np.max(a))
print(np.sum(a))
print(np.prod(a))
print(np.max(a,axis=0))
print(np.max(a,axis=1))

[[0.08380658 0.64893959 0.34891775]
 [0.34689596 0.44995858 0.67804184]
 [0.62556283 0.02558106 0.4763006 ]]

[[ 8.38065847 64.89395944 34.89177489]
 [34.6895963  44.99585836 67.80418385]
 [62.55628343  2.55810608 47.63005995]]

[[ 8.38065847 64.89395944 34.89177489]
 [34.6895963  44.99585836 67.80418385]
 [62.55628343  2.55810608 47.63005995]]
2.5581060789973575
67.8041838461191
368.40048074857384
15307503712983.822
[62.55628343 64.89395944 67.80418385]
[64.89395944 67.80418385 62.55628343]

In [55]:
# do product of matrix
a = np.arange(1,9).reshape(2,4)
b = np.arange(1,9).reshape(4,2)
print(a)
print()
print(b)
print()
print(a.dot(b))

[[1 2 3 4]
 [5 6 7 8]]

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

[[ 50  60]
 [114 140]]

In [56]:
# there are some more functions
# hstack() for horizontal stacking
# vstack() for vertical stacking
# hsplit() for horizontal spiliting
# vsplit() for vertical spiliting
# arrayname.T or arrayname.Transpose() to trapose the matrix