In [1]:
# pandas data frame

In [2]:
import numpy as np
import pandas as pd
#  in pandas complete table is called dataframe and every column is called series and every row is called series

In [36]:
student_data = [
    [100,50,7],
    [80,50,5],
    [120,70,10],
    [125,70,14]
]

student=pd.DataFrame(student_data,columns=['iq','marks','package'])
print(student)
# creation of dataframe using list

    iq  marks  package
0  100     50        7
1   80     50        5
2  120     70       10
3  125     70       14

In [4]:
# creation of dataframe using dictionary

student_dict ={
    'iq':[100,80,120,125],
    'marks':[50,50,70,70],
    'package':[7,5,10,14 ]
}

pd.DataFrame(student_dict)

# when we use dict then no need to specify col

    iq  marks  package
0  100     50        7
1   80     50        5
2  120     70       10
3  125     70       14

In [8]:
movies=pd.read_csv('/content/movies.csv')
movies

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [44]:
ipl=pd.read_csv('/content/ipl-matches.csv')
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [26]:
# Dataframe attributes and methods
# shape    telling about row and columns (row,col)
# dtype   telling the datatype of the column
# index    RangeIndex(start=0, stop=950, step=1)
# values   every tuple will be in output
# columns
# head and tail
# sample
# info
print("shape...................................................................")
print(ipl.shape)
print("datatype................................................................")
print(ipl.dtypes)
print("index...................................................................")
print(ipl.index)
print("info><><><><><>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
print(ipl.info())
print("values>>>>>>>>>>>>>>>>..............................>>>>>>>>>>>>>>>>>>>>>>")
print(ipl.values)
print("colunms>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>....................................")
print(ipl.columns)
print("head>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
print(ipl.head(5))
print("tail<<<<<<<<<<>>>>>>>>>>>>><><><<>//////////////////////////////////////")
print(ipl.tail(5))

shape...................................................................
(950, 20)
datatype................................................................
ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object
index...................................................................
RangeIndex(start=0, stop=950, step=1)
info><><><><><>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB
None
values>>>>>>>>>>>>>>>>..............................>>>>>>>>>>>>>>>>>>>>>>
[[1312200 'Ahmedabad' '2022-05-29' ...
  "['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']"
  'CB Gaffaney' 'Nitin Menon']
 [1312199 'Ahmedabad' '2022-05-27' ...
  "['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']"
  'CB Gaffaney' 'Nitin Menon']
 [1312198 'Kolkata' '2022-05-25' ...
  "['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']"
  'J Madanagopal' 'MA Gough']
 ...
 [335984 'Delhi' '2008-04-19' ...
  "['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']"
  'Aleem Dar' 'GA Pratapkumar']
 [335983 'Chandigarh' '2008-04-19' ...
  "['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']"
  'MR Benson' 'SL Shastri']
 [335982 'Bangalore' '2008-04-18' ...
  "['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']"
  'Asad Rauf' 'RE Koertzen']]
colunms>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>....................................
Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')
head>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        ID       City        Date Season  MatchNumber  \
0  1312200  Ahmedabad  2022-05-29   2022        Final
1  1312199  Ahmedabad  2022-05-27   2022  Qualifier 2
2  1312198    Kolkata  2022-05-25   2022   Eliminator
3  1312197    Kolkata  2022-05-24   2022  Qualifier 1
4  1304116     Mumbai  2022-05-22   2022           70

                         Team1                 Team2  \
0             Rajasthan Royals        Gujarat Titans
1  Royal Challengers Bangalore      Rajasthan Royals
2  Royal Challengers Bangalore  Lucknow Super Giants
3             Rajasthan Royals        Gujarat Titans
4          Sunrisers Hyderabad          Punjab Kings

                              Venue            TossWinner TossDecision  \
0  Narendra Modi Stadium, Ahmedabad      Rajasthan Royals          bat
1  Narendra Modi Stadium, Ahmedabad      Rajasthan Royals        field
2             Eden Gardens, Kolkata  Lucknow Super Giants        field
3             Eden Gardens, Kolkata        Gujarat Titans        field
4          Wankhede Stadium, Mumbai   Sunrisers Hyderabad          bat

  SuperOver                  WinningTeam    WonBy  Margin method  \
0         N               Gujarat Titans  Wickets     7.0    NaN
1         N             Rajasthan Royals  Wickets     7.0    NaN
2         N  Royal Challengers Bangalore     Runs    14.0    NaN
3         N               Gujarat Titans  Wickets     7.0    NaN
4         N                 Punjab Kings  Wickets     5.0    NaN

  Player_of_Match                                       Team1Players  \
0       HH Pandya  ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
1      JC Buttler  ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
2      RM Patidar  ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
3       DA Miller  ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
4   Harpreet Brar  ['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...

                                        Team2Players        Umpire1  \
0  ['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...    CB Gaffaney
1  ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...    CB Gaffaney
2  ['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...  J Madanagopal
3  ['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...   BNJ Oxenford
4  ['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...   AK Chaudhary

         Umpire2
0    Nitin Menon
1    Nitin Menon
2       MA Gough
3      VK Sharma
4  NA Patwardhan
tail<<<<<<<<<<>>>>>>>>>>>>><><><<>//////////////////////////////////////
         ID        City        Date   Season MatchNumber  \
945  335986     Kolkata  2008-04-20  2007/08           4
946  335985      Mumbai  2008-04-20  2007/08           5
947  335984       Delhi  2008-04-19  2007/08           3
948  335983  Chandigarh  2008-04-19  2007/08           2
949  335982   Bangalore  2008-04-18  2007/08           1

                           Team1                        Team2  \
945        Kolkata Knight Riders              Deccan Chargers
946               Mumbai Indians  Royal Challengers Bangalore
947             Delhi Daredevils             Rajasthan Royals
948              Kings XI Punjab          Chennai Super Kings
949  Royal Challengers Bangalore        Kolkata Knight Riders

                                          Venue                   TossWinner  \
945                                Eden Gardens              Deccan Chargers
946                            Wankhede Stadium               Mumbai Indians
947                            Feroz Shah Kotla             Rajasthan Royals
948  Punjab Cricket Association Stadium, Mohali          Chennai Super Kings
949                       M Chinnaswamy Stadium  Royal Challengers Bangalore

    TossDecision SuperOver                  WinningTeam    WonBy  Margin  \
945          bat         N        Kolkata Knight Riders  Wickets     5.0
946          bat         N  Royal Challengers Bangalore  Wickets     5.0
947          bat         N             Delhi Daredevils  Wickets     9.0
948          bat         N          Chennai Super Kings     Runs    33.0
949        field         N        Kolkata Knight Riders     Runs   140.0

    method Player_of_Match                                       Team1Players  \
945    NaN       DJ Hussey  ['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...
946    NaN      MV Boucher  ['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...
947    NaN     MF Maharoof  ['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...
948    NaN      MEK Hussey  ['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...
949    NaN     BB McCullum  ['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...

                                          Team2Players    Umpire1  \
945  ['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...  BF Bowden
946  ['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...   SJ Davis
947  ['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...  Aleem Dar
948  ['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...  MR Benson
949  ['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...  Asad Rauf

            Umpire2
945     K Hariharan
946       DJ Harper
947  GA Pratapkumar
948      SL Shastri
949     RE Koertzen

In [27]:
movies.describe()
# The describe() method provides a statistical summary of the numerical columns in the DataFrame.
# It calculates the count, mean, standard deviation, minimum and maximum values,
# as well as the 25th, 50th (median), and 75th percentiles of the data.

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [31]:
boolean=movies.isnull()
print(boolean)
boolean_count=boolean.sum()
boolean_count

# isnull() gives true if value null
# when we apply sum on isnull then it give the total number of value that is null

      title_x  imdb_id  poster_path  wiki_link  title_y  original_title  \
0       False    False        False      False    False           False
1       False    False         True      False    False           False
2       False    False        False      False    False           False
3       False    False        False      False    False           False
4       False    False         True      False    False           False
...       ...      ...          ...        ...      ...             ...
1624    False    False        False      False    False           False
1625    False    False        False      False    False           False
1626    False    False         True      False    False           False
1627    False    False        False      False    False           False
1628    False    False        False      False    False           False

      is_adult  year_of_release  runtime  genres  imdb_rating  imdb_votes  \
0        False            False    False   False        False       False
1        False            False    False   False        False       False
2        False            False    False   False        False       False
3        False            False    False   False        False       False
4        False            False    False   False        False       False
...        ...              ...      ...     ...          ...         ...
1624     False            False    False   False        False       False
1625     False            False    False   False        False       False
1626     False            False    False   False        False       False
1627     False            False    False   False        False       False
1628     False            False    False   False        False       False

      story  summary  tagline  actors  wins_nominations  release_date
0     False    False     True   False             False         False
1     False    False     True   False              True         False
2     False    False     True   False              True         False
3     False    False     True   False              True         False
4     False    False     True   False             False         False
...     ...      ...      ...     ...               ...           ...
1624  False    False     True   False              True         False
1625  False    False     True   False              True         False
1626  False    False     True   False              True          True
1627  False    False     True   False              True         False
1628  False    False     True   False              True         False

[1629 rows x 18 columns]

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

In [34]:
duplicate_row=movies.duplicated()
print(duplicate_row)
duplicate_count=duplicate_row.sum()
duplicate_count
print(duplicate_count)

# duplicated() tell for every row it is duplicate or not
# duplicated().sum() tell tolal no of duplicate row

0       False
1       False
2       False
3       False
4       False
        ...
1624    False
1625    False
1626    False
1627    False
1628    False
Length: 1629, dtype: bool
0

In [39]:
#  to reanme the column
# student.rename(columns={'oldvalue':'new_value',.....})
# i we want  change in original then parameter inplace should be true

In [40]:
# 1. min() – Minimum value

# What it does:
# Returns the smallest value in each column (or row).

# df.min()


# Use case:
# Find the lowest marks, minimum salary, least sales, etc.

# 2. max() – Maximum value

# What it does:
# Returns the largest value in each column.

# df.max()


# Use case:
# Highest score, max profit, top temperature, etc.

# 3. mean() – Average

# What it does:
# Calculates the arithmetic average of values.

# df.mean()


# Formula:

# mean
# =
# sum of values
# number of values
# mean=
# number of values
# sum of values
# 	​


# Use case:
# Average marks, average income, average sales.

# 4. sum() – Total

# What it does:
# Returns the sum of values in each column.

# df.sum()


# Use case:
# Total revenue, total units sold, total marks.

# 5. count() – Number of non-null values

# What it does:
# Counts non-missing (non-NaN) values.

# df.count()


# Interview tip:
# count() ≠ total rows (it ignores NaN).

# 6. median() – Middle value

# What it does:
# Returns the middle value after sorting data.

# df.median()


# Use case:
# Better than mean when data has outliers.

# 7. mode() – Most frequent value

# What it does:
# Returns the value that appears most often.

# df.mode()


# Use case:
# Most common category, most repeated score.

# 8. std() – Standard Deviation

# What it does:
# Measures how spread out the data is.

# df.std()


# Use case:
# Risk analysis, variability in marks/sales.

# 9. var() – Variance

# What it does:
# Square of standard deviation.

# df.var()


# Use case:
# Statistical and ML preprocessing.

# 10. describe() – Summary statistics ⭐

# What it does:
# Gives a complete statistical summary.

# df.describe()


# Output includes:

# count

# mean

# std

# min

# 25%, 50%, 75% (quartiles)

# max

# Interview favorite question

# 11. Axis parameter (important!)
# df.mean(axis=0)  # column-wise (default)
# df.mean(axis=1)  # row-wise

# Example DataFrame
# import pandas as pd

# df = pd.DataFrame({
#     "Marks": [70, 80, 90, 85],
#     "Age": [20, 21, 22, 20]
# })

# Function	Result Meaning
# df.min()	Minimum Marks & Age
# df.max()	Maximum Marks & Age
# df.mean()	Average Marks & Age
# df.describe()	Full statistical summary

In [42]:
# fetching the column
movies['title_x']
# dataframename['columnname'] this is the syntes to fetch the column
# we can pass any number of column

0                   Uri: The Surgical Strike
1                              Battalion 609
2       The Accidental Prime Minister (film)
3                            Why Cheat India
4                            Evening Shadows
                        ...
1624                   Tera Mera Saath Rahen
1625                    Yeh Zindagi Ka Safar
1626                         Sabse Bada Sukh
1627                                   Daaka
1628                                Humsafar
Name: title_x, Length: 1629, dtype: object

In [43]:
# fetching the row from the dataframe

# dataframename.iloc[1:8]  row form 1 2 3 4 5 6 7  and 8 is not included and it workd based on index position
# fancy indexing  dfname.iloc[[0,4,5]] it will fetch the rows 0 4 and 5

# second method is loc it fetch the data based on the index lable
# difference between loc and iloc iloc does not include the last item but loc includes it

In [48]:
# filtering on dataframe

# tell me the winner of eacch season

ipl['MatchNumber']=='Final'
mask=ipl['MatchNumber']=='Final'
ndf=ipl[mask]
ndf[['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [49]:
df = ipl['SuperOver']=='Y'
print(df.sum())

14

In [53]:
# how many  matches csk wins in kolkata
df = ipl['City']=='Kolkata'
print(df)
df1=ipl[df]
print(df1)
df2=df1['WinningTeam']=='Chennai Super Kings'
print(df2.sum())

0      False
1      False
2       True
3       True
4      False
       ...
945     True
946    False
947    False
948    False
949    False
Name: City, Length: 950, dtype: bool
          ID     City        Date   Season  MatchNumber  \
2    1312198  Kolkata  2022-05-25     2022   Eliminator
3    1312197  Kolkata  2022-05-24     2022  Qualifier 1
207  1178422  Kolkata  2019-04-28     2019           47
211  1178418  Kolkata  2019-04-25     2019           43
219  1178410  Kolkata  2019-04-19     2019           35
..       ...      ...         ...      ...          ...
908   336025  Kolkata  2008-05-18  2007/08           41
915   336017  Kolkata  2008-05-13  2007/08           35
922   336010  Kolkata  2008-05-08  2007/08           29
934   335997  Kolkata  2008-04-29  2007/08           16
945   335986  Kolkata  2008-04-20  2007/08            4

                           Team1                        Team2  \
2    Royal Challengers Bangalore         Lucknow Super Giants
3               Rajasthan Royals               Gujarat Titans
207        Kolkata Knight Riders               Mumbai Indians
211        Kolkata Knight Riders             Rajasthan Royals
219  Royal Challengers Bangalore        Kolkata Knight Riders
..                           ...                          ...
908        Kolkata Knight Riders          Chennai Super Kings
915        Kolkata Knight Riders             Delhi Daredevils
922        Kolkata Knight Riders  Royal Challengers Bangalore
934        Kolkata Knight Riders               Mumbai Indians
945        Kolkata Knight Riders              Deccan Chargers

                     Venue             TossWinner TossDecision SuperOver  \
2    Eden Gardens, Kolkata   Lucknow Super Giants        field         N
3    Eden Gardens, Kolkata         Gujarat Titans        field         N
207           Eden Gardens         Mumbai Indians        field         N
211           Eden Gardens       Rajasthan Royals        field         N
219           Eden Gardens  Kolkata Knight Riders        field         N
..                     ...                    ...          ...       ...
908           Eden Gardens  Kolkata Knight Riders          bat         N
915           Eden Gardens  Kolkata Knight Riders          bat         N
922           Eden Gardens  Kolkata Knight Riders          bat         N
934           Eden Gardens  Kolkata Knight Riders          bat         N
945           Eden Gardens        Deccan Chargers          bat         N

                     WinningTeam    WonBy  Margin method Player_of_Match  \
2    Royal Challengers Bangalore     Runs    14.0    NaN      RM Patidar
3                 Gujarat Titans  Wickets     7.0    NaN       DA Miller
207        Kolkata Knight Riders     Runs    34.0    NaN      AD Russell
211             Rajasthan Royals  Wickets     3.0    NaN        VR Aaron
219  Royal Challengers Bangalore     Runs    10.0    NaN         V Kohli
..                           ...      ...     ...    ...             ...
908          Chennai Super Kings     Runs     3.0    D/L         M Ntini
915        Kolkata Knight Riders     Runs    23.0    NaN   Shoaib Akhtar
922        Kolkata Knight Riders     Runs     5.0    NaN      SC Ganguly
934               Mumbai Indians  Wickets     7.0    NaN   ST Jayasuriya
945        Kolkata Knight Riders  Wickets     5.0    NaN       DJ Hussey

                                          Team1Players  \
2    ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
3    ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
207  ['Shubman Gill', 'CA Lynn', 'AD Russell', 'KD ...
211  ['CA Lynn', 'Shubman Gill', 'N Rana', 'KD Kart...
219  ['PA Patel', 'V Kohli', 'AD Nath', 'MM Ali', '...
..                                                 ...
908  ['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...
915  ['Salman Butt', 'A Chopra', 'SC Ganguly', 'DJ ...
922  ['A Chopra', 'BJ Hodge', 'SC Ganguly', 'DJ Hus...
934  ['BB McCullum', 'SC Ganguly', 'RT Ponting', 'D...
945  ['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...

                                          Team2Players        Umpire1  \
2    ['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...  J Madanagopal
3    ['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...   BNJ Oxenford
207  ['Q de Kock', 'RG Sharma', 'E Lewis', 'SA Yada...       IJ Gould
211  ['AM Rahane', 'SV Samson', 'SPD Smith', 'BA St...    AY Dandekar
219  ['CA Lynn', 'SP Narine', 'Shubman Gill', 'RV U...       IJ Gould
..                                                 ...            ...
908  ['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...      Asad Rauf
915  ['G Gambhir', 'V Sehwag', 'AB de Villiers', 'M...      Asad Rauf
922  ['J Arunkumar', 'S Chanderpaul', 'MV Boucher',...      Asad Rauf
934  ['AM Rahane', 'ST Jayasuriya', 'MK Pandey', 'R...      BF Bowden
945  ['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...      BF Bowden

            Umpire2
2          MA Gough
3         VK Sharma
207     Nitin Menon
211        IJ Gould
219     Nitin Menon
..              ...
908     K Hariharan
915       IL Howell
922       IL Howell
934  AV Jayaprakash
945     K Hariharan

[79 rows x 20 columns]
5

In [57]:
mask = ipl['TossWinner'] == ipl['WinningTeam']
percentage = (mask.sum() / len(ipl)) * 100
print(percentage)
# percentage of tosswinner is mathchwinner

51.473684210526315

In [ ]:
# 1️⃣ Add a column using assignment (MOST COMMON)
# import pandas as pd

# df = pd.DataFrame({
#     "Name": ["Amit", "Ravi", "Suman"],
#     "Marks": [78, 85, 90]
# })

# df["Result"] = "Pass"
# print(df)


# ✔ Adds a new column Result with the same value for all rows.

# 2️⃣ Add column using a list / array
# df["Grade"] = ["B", "A", "A"]


# 📌 Length of the list must match number of rows.

# 3️⃣ Add column based on calculations
# df["Marks_Percent"] = df["Marks"] / 100 * 100


# ✔ Very common in data analysis & interviews.

# 4️⃣ Add column using assign() (method chaining)
# df = df.assign(Status="Pass")


# ✔ Useful when writing clean pipelines.

# 5️⃣ Add column using condition (np.where)
# import numpy as np

# df["Performance"] = np.where(df["Marks"] >= 80, "Good", "Average")


# ✔ Frequently asked in interviews.

# 6️⃣ Add column using apply() (row-wise logic)
# df["Remark"] = df["Marks"].apply(lambda x: "Excellent" if x > 85 else "Needs Improvement")


# ⚠ Slower than vectorized operations but flexible.

# 7️⃣ Insert column at a specific position
# df.insert(1, "Roll_No", [101, 102, 103])


# 📌 Position index starts from 0.